<!-- views/index.ejs -->
<!doctype html>
<html>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1><span class="fa fa-lock"></span> Node Authentication</h1>

		<p>Ingresar o Registrarse con:</p>

		<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
	</div>

</div>
</body>
</html>